<div class="e-section-wrapper">
    <p>{{{e_dear}}}</p>
    <br>
    <p>{{{e_thanks}}}</p>
    <ul class="code-list">
        {{{e_gift_code_list}}}
    </ul>
    <p>{{{e_gift_code_desc}}}</p>
    <div class="divider"></div>
    <p class="section-title">{{e_gift_code_help}}</p>
    <p>{{{e_help_app}}}</p>
    <p>{{{e_help_web}}}</p>
    <div class="divider"></div>
    <p class="section-title">{{{e_order_info}}}</p>
    <table class="order">
        <tbody>
            <tr>
                <td>
                    <p class="info-title">{{{e_order_quantity}}}</p>
                    <p class="info-detail">{{{e_order_codes_length}}}</p>
                </td>
                <td class="total-title">
                    <p class="info-title">{{{e_order_pay}}}</p>
                    <p class="info-detail"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="info-title">{{{e_order_date}}}</p>
                    <p class="info-detail">{{{e_order_date_detail}}}</p>
                </td>
                <td rowspan="2" class="total">
                    <p class="total-detail">
                        <span class="unit">{{{e_order_unit}}}</span><!-->
                        </!--><span class="number">{{{e_order_total}}}</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="info-title">{{{e_order_number}}}</p>
                    <p class="info-detail">{{{e_order_number_detail}}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="help">{{{e_help}}}</p>
</div>
