<div class="e-main">
    <div class="e-img-wrapper">
        <img src="{{e_img_path}}/survey.png" alt="{{title}}">
    </div>

    <div class="e-main-wrapper">
        <div class="e-section">
          <p>亲爱的用户，您好</p>
          <p>经过两个月的打磨，滴答清单于7月20日发布了3.0版本，完成了“奔三”的历程，三大重磅新功能、超过50项调整和改进，与大家正式见面——我们只求为您提供更加专注、流畅、舒心的体验，以回馈您的支持。</p>
          <p>感谢您一直以来对滴答清单的支持和喜爱，您的每一次建议和反馈都让滴答清单不断成长，让这个“小而美的实用主义”羽翼渐丰。我们依然秉持初心，用心倾听每一位用户的声音，只为了这个简洁好用的应用，能真正帮助大家在时间管理的领域里披荆斩棘。</p>
          <p>为了更加了解用户需求和使用习惯，以便我们为大家提供更好的产品和服务，我们诚邀您参与我们的用户调研，希望占用您 5分钟 的时间，填写这份问卷。</p>
          <p>请点击按钮参与调研：</p>
        </div>

        <div class="e-section">
          <a class="e-btn" href="{{e_btn_link}}" target="_blank">{{e_action}}</a>
        </div>

        <div class="e-section">
          <p>如果按钮无法显示，请打开此链接：<a href="{{e_btn_link}}" target="_blank">{{e_btn_link}}</a></p>
          <p>同时，为感谢您在百忙之中参与调研，我们将在参与调研的用户中抽取16名，赠送以下礼品：</p>
          <p class="e-survey-gift">
            滴答清单1年高级账户（3名）<br>
            麦步手表（3名）<br>
            滴答清单定制笔记本（10名）
          </p>
          <p>本次有奖用户调研将持续到8月4日23:59截止，我们会在调研结束后1个工作日内在官方微博（@滴答清单）公布获奖用户信息，并于结果公布后3个工作日内寄出奖品。</p>
          <p>最后，再次感谢您的支持！</p>
        </div>
    </div>
</div>
