<div class="e-section-wrapper">
    <p>{{{e_dear}}}</p>
    <br>
    <p>{{{e_thanks}}}</p>
    <ul class="code-list">
        <li>xxxxxxxxxxxxx</li>
        <li>xxxxxxxxxxxxx</li>
        <li>xxxxxxxxxxxxx</li>
    </ul>
    <p>{{{e_gift_code_desc}}}</p>
    <div class="divider"></div>
    <p class="section-title">{{e_gift_code_help}}</p>
    <p>{{{e_help_app}}}</p>
    <p>{{{e_help_web}}}</p>
    <div class="divider"></div>
    <p class="section-title">{{{e_order_info}}}</p>
    <table class="order">
        <tbody>
            <tr>
                <td>
                    <p class="info-title">{{{e_order_quantity}}}</p>
                    <p class="info-detail">2</p>
                </td>
                <td class="total-title">
                    <p class="info-title">{{{e_order_pay}}}</p>
                    <p class="info-detail"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="info-title">{{{e_order_date}}}</p>
                    <p class="info-detail">2016年12月26日</p>
                </td>
                <td rowspan="2" class="total">
                    <p class="total-detail">
                        <span class="unit">￥</span><!-->
                        </!--><span class="number">278</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="info-title">{{{e_order_number}}}</p>
                    <p class="info-detail">xxxxxxxxxxxx</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="help">{{{e_help}}}</p>
</div>
